.title {
    font-weight: bold;
}
body {
    background-color: rgb(200, 200, 200);
}

ul {
    list-style-type: none;
}




.center {
      margin: auto;
      width: 50%;
      border: 3px solid green;
      padding: 10px;
}

.center-text {
    text-align: center;
}